<div class="container">
	<div class="row">
		<h4>Feature Services</h4>
	</div>
	<!-- row1 -->
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">Recycling Scraps Inspection</h5>
	    <p class="card-text">balabala.</p>
	    <a href="#" class="card-link">View More</a>
	  </div>
	</div>
	<div class="row">
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">Recycling Scraps Inspection</h5>
	    <p class="card-text">balabala.</p>
	    <a href="#" class="card-link">View More</a>
	  </div>
	  <div class="card" style="width: 18rem;">
	    <div class="card-body">
	    <h5 class="card-title">Recycling Scraps Inspection</h5>
	    <p class="card-text">balabala.</p>
	    <a href="#" class="card-link">View More</a>
	  </div>
	  <div class="card" style="width: 18rem;">
	    <div class="card-body">
	    <h5 class="card-title">Recycling Scraps Inspection</h5>
	    <p class="card-text">balabala.</p>
	    <a href="#" class="card-link">View More</a>
	  </div>
	</div>
	</div>
	</div>
	</div>
	<div class="row">
		<div class="col"><a href="#">View More</a></div>
		<div class="col"><a href="#">View More</a></div>
		<div class="col"><a href="#">View More</a></div>
	</div>
	<!-- row2 -->
	<div class="row">
		<div class="col">
			Import & Export Commodities
		</div>
		<div class="col">
			Animal & Plant Inspection and Quarantine
		</div>	
		<div class="col">
			Chinese Label Consulting & Certification
		</div>
	</div>
	<div class="row">
		<div class="col"><a href="#">View More</a></div>
		<div class="col"><a href="#">View More</a></div>
		<div class="col"><a href="#">View More</a></div>
	</div>
    <div class="row">
		<a href="#">View More</a>
	</div>

</div>